{{ define "main" }}
<body>
  <section
    name="bernardo_borda_dagua"
    style="
      height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    "
  >
    <h1>Bernardo Borda d'Água</h1>
    <div style="display: flex; flex-direction: row; gap: 3px">
      <a
        class="chip"
        style="text-decoration: none"
        target="_blank"
        href="https://www.linkedin.com/in/bernardo-agua"
      >
        LinkedIn
      </a>
      <a
        class="chip"
        style="text-decoration: none"
        href="https://github.com/Zizico2"
      >
        GitHub
      </a>
      <a
        class="chip"
        style="text-decoration: none"
        href="https://gitlab.com/Zizico2"
      >
        GitLab
      </a>
      <a
        class="chip"
        style="text-decoration: none"
        href="https://twitter.com/bernardo_agua"
      >
        Twitter
      </a>
    </div>
  </section>
  <section id="portfolio" name="portfolio">
    <h1>My Projects</h1>
    <ul>
      {{ range .Site.Data.portfolio.list }}
      <!---->
      <li>{{ partial "project-thumbnail.html" .}}</li>
      <!---->
      {{ end }}
    </ul>
  </section>
</body>
{{ end }}
