<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="manifest" href="/app.webmanifest" />
    <link rel="shortcut icon" href="/favicon.svg" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <meta name="theme-color" content="#000000" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="author" content="Bernardo António Borda d'Água" />
    <meta
      name="description"
      content="I'm a developer. My name is Bernardo Borda d'Água. Take a look at what I do!"
    />
    <meta
      name="keywords"
      content="personal, profile, portfolio, resumé, cv, curriculum, curriculum vitae, developer, web, html developer, css developer, rust developer, full-stack developer, web developer, backend, backend developer, rust, java, go, godot, c#, javascript, typescript, rescript, wasm"
    />
    <title>Bernardo Borda d'Água</title>

    <!-- inline styles -->
    {{ $style_inline := resources.Get "css/baseof_inline.css" |
    resources.PostCSS (dict "config" "./postcss.config.js") |
    resources.Fingerprint "sha512" }}
    <style>
      {{ $style_inline.Content | safeCSS }}
    </style>
    <!-- end -->

    <!-- defered styles -->
    {{ $style := resources.Get "css/main.css" | resources.PostCSS (dict "config"
    "./postcss.config.js") | resources.Fingerprint "sha512" }}
    <link
      rel="preload"
      href="{{ $style.RelPermalink }}"
      integrity="{{ $style.Data.Integrity }}"
      as="style"
      onload='this.onload = null;this.rel = "stylesheet";'
    />
    <!-- end -->
    <!--
    <script type="module" defer>
      import hotwiredTurbo from "https://cdn.skypack.dev/pin/@hotwired/turbo@v7.0.0-beta.5-LhgiwOUjafYu3bb8VbTv/mode=imports,min/optimized/@hotwired/turbo.js";
    </script>
    -->
  </head>
  <body>
    <main>{{ block "main" . }} {{ end }}</main>
    <footer style="min-height: 10rem; color: white; background-color: black">
      <div>
        Icons made by
        <a
          style="text-decoration: none; color: rgb(170, 170, 170)"
          href="https://www.freepik.com"
          target="_blank"
          rel="noopener"
          title="Freepik"
          >Freepik</a
        >
        from
        <a
          style="text-decoration: none; color: rgb(170, 170, 170)"
          href="https://www.flaticon.com/"
          target="_blank"
          rel="noopener"
          title="Flaticon"
          >flaticon.com</a
        >
      </div>
      <div style="padding-top: 2rem; padding-left: 11%">That's me again!</div>
      <div style="padding-top: 2rem; padding-left: 11%">That's me again!</div>
    </footer>

    <!-- defered styles in case JS is disabled -->
    <noscript>
      <link
        rel="stylesheet"
        href="{{ $style.RelPermalink }}"
        integrity="{{ $style.Data.Integrity }}"
      />
    </noscript>
    <!-- end -->

    <!-- Cloudflare Web Analytics -->
    <script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "1c88640157324d1c9e5e4adb1a7a5a9f"}'
    ></script>
    <!-- End Cloudflare Web Analytics -->
  </body>
</html>
