html {
  scroll-behavior: smooth;
}

.project-thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  border: solid;
  border-color: black;
  border-width: 3px;
  padding: 25px;
}

.project-thumbnail > div > h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.project-thumbnail > .tech {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 7px;
}
#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  --vertical-margin: 4vh;
  margin: 0;
  width: 100%;
  padding-top: var(--vertical-margin);
  padding-bottom: var(--vertical-margin);
}

#portfolio > ul {
  --cell-size: min(350px, 77vw);
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, var(--cell-size));
  gap: 40px;
  list-style-type: none;
  padding-left: 0;
  margin: 50px;
  width: 100%;
  max-width: calc(var(--cell-size) * 3 + (40px * 2));
}

#portfolio > ul > li {
  display: contents;
}

#portfolio > h1 {
  font-size: 2.3em;
  margin-top: 0;
}

.links {
  --vertical-margin: 10px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-top: var(--vertical-margin);
  margin-bottom: var(--vertical-margin);
  column-gap: 15px;
}
